@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
select,
textarea {
  outline: none !important;
  background-color: transparent;
}



input.error-input,
input.active-input,
select.error-input,
select.active-input,
button.error-input,
button.active-input,
textarea.active-input {
  box-shadow: 0px 0px 0px 4px #FFF1F2;
}

input.error-input::placeholder,
select.error-input::placeholder,
textarea.error-input::placeholder {
  color: #000;
}

input.active-input,
select.active-input,
button.active-input,
textarea.active-input  {
  background-color: white;
  border: 1px solid #FF7622;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #644DED14 inset !important;
  -webkit-text-fill-color: #000 !important; 
  -webkit-border: 1px solid #ff7622;
}


@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

.btn-primary {
  background-color: #FF7622;
  color: white;
  border-radius: 133.333px;
  padding: 12px 24px;

  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
